<div class="parent-container">
  <div class="container" [ngStyle]="{ border: '1px solid #d9d9d9', borderRadius: '4px' }">
      <nz-calendar
        [nzFullscreen]="false"
        (nzSelectChange)="onValueChange($event)"
        (nzPanelChange)="onPanelChange($event)"
      ></nz-calendar>
      <div class="time-slots">
        <button nz-button nzType="default">09:00 - 10:30</button>
        <button nz-button nzType="default">10:30 - 12:00</button>
        <button nz-button nzType="default">12:00 - 13:30</button>
        <button nz-button nzType="default">13:30 - 15:00</button>
        <button nz-button nzType="default">15:00 - 16:30</button>
        <button nz-button nzType="default">16:30 - 18:00</button>
        <button nz-button nzType="default">18:00 - 19:30</button>
      </div>
  </div>
</div>